[submodule "cairo_graphs"]
	url = https://github.com/msaug/cairo-graphs
	path = lib/cairo_graphs
[submodule "cairo_contracts"]
	url = https://github.com/OpenZeppelin/cairo-contracts
	path = lib/cairo_contracts
